.message-container {
    border-left: 1px solid #303336;
    border-right: 1px solid #303336;
    max-width: 580px;
    min-width: 380px;
    height: fit-content;
    padding: 15px;
}

.message-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}

/* come back to space elements */
.message-heading-icons{
   
}

.instant-search {
    position: relative;
  }

  .instant-search,
  .instant-search__input-container {
    border-radius: 25px;
  }
  
  .instant-search__input-container {
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    background: #252222;
    color: #71767C;
  }

  .instant-search__input-container:focus-within {
    background: #ffffff;
  }
  
  .instant-search__input {
    flex-grow: 1;
    border: none;
    outline: none;
    width: 100%;
    /* text-align: center; */
    padding: 0 6px;
    background: transparent;
  }

  instant-search__input::placeholder{
    padding-left: auto;
  }

  .message-top {
    display: flex;
    gap: 15px;
    margin-top: 30px;
  }

  .actual-message {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }

  .user-profilet img{
    border-radius: 50%;
    width: 45px;
	height: 45px;
    margin: 0px 5px 10px 0px;
}

  .dm p{
    color: #E7E9EA;
    font-weight: 900;
  }

  .dm p span{
    color: #71767C;
    font-weight: 400;
  }

  .dm p:nth-child(2){
    color: #71767C;
    font-weight: 400;
  }