.left-container {
    position: sticky;
    height: 50px;
    padding: 30px 0;
    top: 0px;
    /* min-width: 400px; */
}
.mobile-nav-links {
    display: none;
}


.nav-icons {
    list-style: none;   
}

.twii-icon {
    font-size: 28px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.nav-icons li{
    font-size:18px;
    font-weight: 900;
    padding: 4px 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

.nav-icons li:hover{
    padding: 4px 8px;
    background: rgba(29, 161, 242, 0.1);
    border-radius: 47px;   
    transition: 4ms;
}

.nav-links li .navlink {
    font-size: 18px;
}

.twii {
    font-size: 24px;
    margin-right: 18px;
}

.tweet-btn{
    text-align: center;
    font-weight: 900;
    padding: 12px 15px;
    margin: 25px 20px 50px 0;
    border-radius: 25px;
    width: 250px;
    background: #1D9BF0;
}

.tweet-btn:hover{
    background-color: #3495d6;
}

.profile-sec{
    position: relative;
    cursor: pointer;
}

.profile-sec-bottom{
    display: flex;
    position: absolute; 
    bottom: -300px; 
    height: 60px;
    padding: 12px;
    border-radius: 47px; 
    align-items: center;
}

.profile-sec-bottom:hover {
    padding: 12px;
    background: rgba(29, 161, 242, 0.1);
}

.profile-sec-bottom img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-right: 14px;
}

.profile-link {
    width: 100%;
    font-size: 12px;
}

.full-name {
    font-weight: 900;
}

.user-name {
    color: #71767C;
}

/* small laptops */

@media (max-width: 1024px) {

    .left-container {
        position: sticky;
        height: 50px;
        padding: 0;
        top: 0px;
        width: 120px;
    }

    .mobile-nav-links {
        display: block;
    }
    .twii-icon {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .mobile-nav-icons {
        list-style: none;
        text-align: center;
    }

    .mobile-nav-icons li {
        margin-bottom: 2rem;
        font-size: 72px;
    }

    .mobile-nav-icons a {
        width: 90px;
    }

    .nav-links{
        display: none;
    }

    .nav-links ul a li {
        display: none;
    }

    .profile-link {
        display: none;
    }

    .tweet-btn{
        display: none;
    }

    .mobile-nav-icons img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .profile-sec{
        display: none;
    }

}

@media (max-width: 480px) {
    .left-container {
        display: none;
    }
}