.right-container-box{
    position: sticky;
    height: 53%;
    padding: 10px 0;
    top: 0px;
}

.search-bar {
    display: flex;
    background-color: #202427;
    border: none;
    border-radius: 25px;
    padding: 5px;
    margin-left: 28px;
    width: 350px;
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 19px;
    padding: 10px;
  }

  .search-bar input[type="text"]::placeholder {
    color: #71767B;
  }
  
  .search-bar button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
 .search-bar button .search{
    font-size: 21px;
    color: #71767B; 
    margin-right: 5px;
  }


/* end */
.right-premium {
    margin-top: 1.2rem;
    margin-left: 28px;
    width: 350px;
    height: 160px;
    background: #17181C;
    border-radius: 15px;
    padding: 1.1rem;
}

.right-premium h2 {
    margin-bottom: 0.6rem;
}

.right-premium h4 {
    margin-bottom: 0.6rem;
}

.sub-btn{
    text-align: center;
    font-weight: 900;
    padding: 12px 22px;
    border-radius: 25px;
    background: #3A95E6;
    color: #FDFEFF;
    border: none;
    cursor: pointer;
}

.sub-btn:hover {   
    background: #438dce;
    transition: 1ms;
}

.trend-box {
    height: 84vh;
    width: 350px;
    background: #17181C;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: 20px;
    padding-top: 15px;
}

.trend-box h2{
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700; 
    padding-left: 15px;
    color: #FDFEFF;
}

.trend-tile {
    margin-bottom: 5px;
    cursor: pointer;
    padding: 15px 15px;
}

.trend-tile:hover{
    background: rgba(29, 161, 242, 0.1);
    padding: 15px 15px;
}

.trend-tile h6 {
    font-size: 14px;
    font-weight: 400;
    color: #6A6F74;
}

.trend-tile h4 {
    font-size: 18px;
    font-weight: 900;
    margin: 5px 0;
    color: #FDFEFF;
}

.trend-box p {
    color: #1A8DDB;
    cursor: pointer;
    padding: 4px 15px;
}

.trend-box p:hover{
    background: rgba(29, 161, 242, 0.1);;
    padding: 4px 15px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.suggest {
    width: 100%;
}

.suggest-box{
    background: red;
    height: 350px;
    width: 350px;
    background: #17181C;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: 20px;
    padding-top:25px ;
}

.suggest-box h2{
    font-size: 22px;
    margin-bottom: 25px;
    cursor: pointer;
    padding-left: 15px;
}

.suggest-profile{
    width: 100%;
    display: flex;
    padding: 10px 15px;

}

.suggest-profile:hover{
    background: rgba(29, 161, 242, 0.1);;
    padding: 10px 15px;
}

.suggest-profile img {
    border-radius: 50%;
    width: 45px;
	height: 45px;
    margin: 0px 10px 10px 0px;
}

.suggest-name {
    margin-right: 60px;
}

.suggest-name h4{
   font-size: 14px;
   font-weight: 700;
}
.suggest-name .handle {
    font-weight: 300;
}

.suggest-box button {
    border-radius: 30px;
    height: 34px;
    padding: 6px 30px;
    border: none;
    outline: none;
    text-decoration: none;
    background: white;
    color: #17181C;
    font-weight: 700;
    font-size: 12px;
}

.suggest-box p {
    color: #1A8DDB;
    cursor: pointer;
    margin-top: 5px;
    padding: 13px 15px;
}

.suggest-box p:hover {
    background: rgba(29, 161, 242, 0.1);;
    padding: 13px 15px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

@media (max-width: 1024px) {
    
    .right-container-box{
        position: sticky;
        height: 90px;
        padding: 30px 0;
        top: 0px;
    }

    .search-container {
        display: none;
    }
    .trend-box {
        height: 66vh;
        width: 280px;
        margin-left: 25px;
        margin-top: 1px;
        padding-top: 1px;
    }

    .trend-tile {
        margin-bottom: 1px;
    }

    .suggest-box {
        width: 280px;
    }

    .suggest-profile {
        padding: 10px 8px;
    }

    .suggest-box button {
        border-radius: 20px;
        height: 29px;
        padding: 6px 12px;
        border: none;
        outline: none;
        text-decoration: none;
        background: white;
        color: #17181C;
        font-weight: 700;
        font-size: 12px;
    }
}

@media (max-width: 992px) {
    .right-container-box{
        display: none;
    }
}